/* DOES NOT WORK IN BRACKETS! MUST OPEN FILE SEPERATELY */
.SeymourOne
{
    font-family: 'Seymour One', sans-serif;
}
.Geo
{
    font-family: 'Geo', sans-serif;
}
.Abril{
  font-family: 'Abril Fatface', cursive;
}
.Pirata
{
   font-family: 'Pirata One', cursive;
   font-size: 20px;
}
